<configuration>
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%cyan([) %boldWhite(%d{dd/MM/yyyy HH:mm:ss}) %cyan(%-5level]) %boldBlue([%t])
                %boldWhite([%logger{0}]) %boldRed(-->) %white(%msg) %n
            </pattern>
        </encoder>
    </appender>

    <appender name="Sentry" class="io.sentry.logback.SentryAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <encoder>
            <pattern>%cyan([) %boldWhite(%d{dd/MM/yyyy HH:mm:ss}) %cyan(%-5level]) %boldBlue([%t])
                %boldWhite([%logger{0}]) %boldRed(-->) %white(%msg) %n
            </pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="Console"/>
        <appender-ref ref="Sentry"/>
    </root>
</configuration>